extends layout

block content
  script(src='/javascripts/index.js')
  h1= title
  form(action="/" method="get")
    select(name="project" id="project" onchange="this.form.submit()")
      each project in projects
        if project === selectProject
          option(value=project selected) #{project}
        else
          option(value=project) #{project}
    select(name="version" id="version" onchange="this.form.submit()")
      if versions
        each version in versions
          if version.id === selectVersion
            option(value=version.id selected) #{version.name}
          else
            option(value=version.id) #{version.name}
    button(type='submit' id='testButton' onclick='start()') Write a description
  p
    textarea(name='comment' style='height:500px;width:100%') #{resultText}
  p
    b Цветовая индикация. Описание взято:
  table(style='width:20%;' border='1')
    tr
      th(style='width:30px;background-color:#99b898')
      th
        p из changelog
    tr
      th(style='width:30px;background-color:#feceab')
      th
        p из комм. для тех. писателей
    tr
      th(style='width:30px;background-color:#4e89ae')
      th
        p из комменариев к задаче
    tr
      th(style='width:30px;background-color:#e84a5f')
      th
        p не найдено
  p
  table(style='width:100%;' border='1')
    each result in results
      tr
        if result[0] === ""
          th(style='width:30px;')
          th
            div(style='height:100%;text-align:left;')
              p #{result[2]}
        else
          th(style='width:30px;background-color:' + result[3] + ';')
          th
            a(href=result[1])
              div(style='height:100%;text-align:left;')
                p - #{result[2]}
